<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit</title>
    <link id="favicon" rel="icon" href="../favicon.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body lang="en">
    <div id="main">
      <h1>Edit</h1>
      <a href="..">Back</a>
      <hr />
      <h2>Update bio</h2>
      <textarea id="status" placeholder="Hello"></textarea>
      <hr />
      <h2>Change profile picture</h2>
      Current: <img src="x" id="pic" style="max-width: 3em;" /><br />
      <form
        id="profilepic"
        action="edit/photo"
        method="post"
        enctype="multipart/form-data"
        style="box-shadow: none; border: solid black 2px;"
      >
        <input type="file" name="pic" accept="image/*" />
        <input type="submit" value="Upload" />
      </form>
      <hr />
      <h2>Change password</h2>
      <form id="form" style="box-shadow: none; border: solid black 2px;">
        <input
          id="oldpass"
          type="password"
          maxlength="100"
          placeholder="old password"
        />
        <input
          id="newpass"
          type="password"
          maxlength="100"
          placeholder="new password"
        />
        <input
          id="confpass"
          type="password"
          maxlength="100"
          placeholder="confirm password"
        />

        <button type="submit" id="submit" class="hotspot">Submit</button
        ><br /><br />
        <span id="error"></span>
      </form>
      <br />
      <hr />
      <br />
      <button onclick="deluser();" class="hotspot" id="warnbtn">
        Delete user
      </button>
    </div>
    <script src="../lib/client.js"></script>
    <script src="../lib/link.js"></script>
    <!--     <script src="lib/cursor.js"></script> -->
    <script src="../js/edit.js"></script>
  </body>
</html>
