<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Edit</title>
    <link id="favicon" rel="icon" href="../favicon.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="mainform">
    <div class="edit">
      <h1>Edit</h1>
      <a href="..">Back</a>
      <hr />
      <h2>Update bio</h2>
      <textarea id="status" placeholder="Hello"></textarea>
      <hr />
      <h2>Change password</h2>
      <form id="form">
        <input
          id="oldpass"
          type="password"
          maxlength="100"
          placeholder="old password"
        />
        <input
          id="newpass"
          type="password"
          maxlength="100"
          placeholder="new password"
        />
        <input
          id="confpass"
          type="password"
          maxlength="100"
          placeholder="confirm password"
        />

        <button type="submit" id="submit" class="hotspot">Submit</button
        ><br /><br />
        <span id="error"></span>
      </form>
      <br />
      <hr />
      <br />
      <button
        onclick="deluser();"
        class="hotspot"
        style="color:red;border-color:red;"
      >
        Delete user
      </button>
    </div>
    <script src="js/client.js"></script>
    <script src="js/link.js"></script>
    <script>
      fetch("/user")
        .then(e => e.json())
        .then(res => {
          $("status").value = res.status;
        });

      $("form").onsubmit = e => {
        e.preventDefault();

        const data = {
          oldpass: $("oldpass").value,
          newpass: $("newpass").value,
          confpass: $("confpass").value
        };

        if (data.newpass != data.confpass) {
          console.log("newpass!=confpass");
          parseError("Passwords do not match");
          return false;
        }

        fetch("/user/updatePass", {
          method: "POST",
          body: JSON.stringify(data),
          headers: { "Content-Type": "application/json" }
        })
          .then(res => res.json())
          .then(res => {
            if (res.error) {
              parseError(res.message);
            } else {
              goto("..");
            }
          });
      };

      function deluser() {
        var res = confirm("Are you 100% sure?");
        if (res) {
          res = confirm("This cannot be reversed!");
          if (res) {
            fetch("/user/deleteUser", {
              method: "POST"
            })
              .then(e => e.text())
              .then(e => {
                if (!e.error) {
                  fetch("/logout").then(() => {
                    goto("..");
                  });
                } else {
                  parseError(e.message);
                }
              });
          }
        }
      }

      let typingTimer;
      $("status").addEventListener("keyup", () => {
        clearTimeout(typingTimer);
        if ($("status").value) {
          typingTimer = setTimeout(update, 100);
        }
      });

      function update() {
        var data = {
          status: $("status").value
        };

        fetch("user/updateStatus", {
          method: "POST",
          body: JSON.stringify(data),
          headers: { "Content-Type": "application/json" }
        })
          .then(res => res.json())
          .then(res => {
            console.log(res);
          });
      }
    </script>
    <!--     <script src="cursor.js"></script> -->
  </body>
</html>
