<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Loign</title>
    <link
      id="favicon"
      rel="icon"
      href="https://drive.google.com/uc?id=1a2JLNm5F9rHG2JrelkLg2R-QoMT2DkPY"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/card.css" />
  </head>
  <body onbeforeunload="update();" class="mainform">
    <div id="main">
      <div id="settings">
        <div class="userprefs">
          <a
            href=""
            id="viewdoc"
            onclick="sessionStorage.setItem('viewdoc',true)"
            >View Profile</a
          >
          <a href="edit" id="edit">Edit account</a>
          <button id="logout" onclick="logout();" class="link">Log Out</button>
        </div>
        <div class="anonprefs">
          <a href="login" id="login">Login</a>
          <a href="signup" id="signup">Signup</a>
        </div>
      </div>

      <h1 id="header">Hello</h1>
      <p>I don't even know what this is.<br />Thank you.</p>
<button id="newpost" onclick="goto('post')">
New post
  </button>
      <div id="posts"></div>
    </div>

    <script src="link.js"></script>
    <script src="h.js"></script>
    <!--     <script src="cursor.js"></script> -->
    <script>
      const makeHotspot = e => {
        document.getElementById(e).classList.add("hotspot");
      };

      function logout() {
        fetch("logout").then(() => {
          location.reload();
        });
      }

      const userprefs = document.getElementsByClassName("userprefs")[0];
      const anonprefs = document.getElementsByClassName("anonprefs")[0];
      userprefs.style.display = "none";
      anonprefs.style.display = "none";
      $('newpost').style.display='none';
      fetch("/user")
        .then(e => e.json())
        .then(user => {
          console.log(user);
          if (user.user) {
            console.log("/u/" + user.user);
            userprefs.style.display = "block";
                  $('newpost').style.display='block';

            $("viewdoc").href = "/@" + user.user;
            $("header").innerText = `Welcome, ${user.user}!`;
            document.title = "Welcome, " + user.user + "!";
            makeHotspot("edit");
            makeHotspot("viewdoc");
            makeHotspot("logout");
          } else {
            anonprefs.style.display = "block";

            makeHotspot("login");
            makeHotspot("signup");
          }
        });

      fetch("/card")
        .then(res => res.text())
        .then(res => {
          console.log(res);
          res = res.split("?");
          start(res, "", $("posts"));
        });
    </script>

    <!-- include the Glitch button to show what the webpage is about and
            to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
