<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Loign</title>
    <link id="favicon" rel="icon" href="../favicon.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/loader.css" />
    <link rel="stylesheet" href="/css/card.css" />
  </head>
  <body>
    <div id="main">
      <div class="settings">
        <div class="userprefs empty">
          <a
            href=""
            id="viewdoc"
            onclick="sessionStorage.setItem('viewdoc',true)"
            >View Profile</a
          >
          <a href="edit" id="edit">Edit account</a>
          <button id="logout" onclick="logout();" class="link">Log Out</button>
        </div>

        <div class="anonprefs empty">
          <a href="login" id="login">Login</a>
          <a href="signup" id="signup">Signup</a>
        </div>
      </div>

      <h1 id="header">Hello</h1>
      <p>I don't even know what this is.<br />Thank you.</p>
      <button id="newpost" class="empty" onclick="goto('post')">
        New post
      </button>
      <div id="posts">
      <div class="loader">  
        </div>
      </div>
    </div>

    <script src="lib/client.js"></script>
    <script src="lib/link.js"></script>
<!--     <script src="lib/cursor.js"></script> -->
    <script src="js/index.js"></script>
  </body>
</html>
