<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link id="favicon" rel="icon" href="../favicon.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />

  </head>
  <body>
    <div class="center">
      <form id="form">
        <h2>Login</h2>
        <input
          id="username"
          type="text"
          maxlength="100"
          placeholder="username"
        />
        <input
          id="password"
          type="password"
          maxlength="100"
          placeholder="password"
        />
        <button type="submit" id="submit" class="hotspot">Submit</button>
        <br /><br /><span id="error"></span>
        <hr />
        Don't have an account? <a href="signup" class="hotspot">Signup</a>
      </form>
    </div>
    <script src="js/client.js"></script>
    <script src="js/link.js"></script>
    <script>
      $("form").onsubmit = e => {
        e.preventDefault();

        const data = {
          username: $("username").value,
          password: $("password").value
        };

        fetch("/user/login", {
          method: "POST",
          body: JSON.stringify(data),
          headers: { "Content-Type": "application/json" }
        })
          .then(res => res.json())
          .then(res => {
            if (!res.error) {
              goto("..");
            } else {
              parseError(res.message);
            }
          });
      };
    </script>
    <!--     <script src="cursor.js"></script> -->
  </body>
</html>
