<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New post</title>
    <link id="favicon" rel="icon" href="../favicon.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body lang="en">
    <div class="center">
      <form id="form" style="min-width:340px;">
        <h2>Post</h2>
        <input id="title" type="text" maxlength="100" placeholder="title" />
        <textarea
          id="post"
          placeholder="post"
          style="border:solid lightgray 1px;border-radius:2px;"
        ></textarea
        ><br />Tag:
        <select id="sub"></select>
        <br /><br />
        <button type="submit" id="submit" class="hotspot">Submit</button>
        <br /><br /><span id="error"></span>
      </form>
    </div>
    <script src="lib/client.js"></script>
    <script src="lib/link.js"></script>
    <!--     <script src="lib/cursor.js"></script> -->
    <script src="js/new.js"></script>
  </body>
</html>
