<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Signup</title>
    <link id="favicon" rel="icon" href="../favicon.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body lang="en">
    <div class="center">
      <form id="form" autocomplete="off">
        <h2>Signup</h2>
        <div class="group">
          <input id="username" type="text" placeholder=" " maxlength="100" />
          <span class="bar"></span>
          <label>username</label>
        </div>
        <div class="group">
          <input
            id="password"
            type="password"
            placeholder=" "
            maxlength="100"
          />
          <span class="bar"></span>
          <label>password</label>
        </div>
        <div class="group">
          <input
            id="confpass"
            type="password"
            placeholder=" "
            maxlength="100"
          />
          <span class="bar"></span>
          <label>confirm password</label>
        </div>

        <button type="submit" id="submit" class="hotspot">Submit</button>
        <br /><br /><span id="error"></span>
        <hr />
        Already have an account? <a href="login" class="hotspot">Login</a>
      </form>
    </div>
    <script src="lib/client.js"></script>
    <script src="lib/link.js"></script>
    <!--     <script src="lib/cursor.js"></script> -->
    <script src="js/signup.js"></script>
  </body>
</html>
