<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Signup</title>
    <link id="favicon" rel="icon" href="../favicon.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body lang="en">
    <div class="center">
      <form id="form">
        <h2>Signup</h2>
        <input
          id="username"
          type="text"
          maxlength="100"
          placeholder="username"
        />
        <input
          id="password"
          type="password"
          maxlength="100"
          placeholder="password"
        />
        <input
          id="confpass"
          type="password"
          maxlength="100"
          placeholder="confirm password"
        />
        <button type="submit" id="submit" class="hotspot">Submit</button>
        <br /><br /><span id="error"></span>
        <hr />
        Already have an account? <a href="login" class="hotspot">Login</a>
      </form>
    </div>
    <script src="lib/client.js"></script>
    <script src="lib/link.js"></script>
<!--     <script src="lib/cursor.js"></script> -->
    <script src="js/signup.js"></script>

  </body>
</html>
