<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <link
      id="favicon"
      rel="icon"
      href="https://drive.google.com/uc?id=1a2JLNm5F9rHG2JrelkLg2R-QoMT2DkPY"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="mainform">
    <div id="anon">
      <a href=".." id="back" class="hotspot">Back</a>
      <header>
        <h1 id="user"></h1>
      </header>
      <main>
        <p id="memo"></p>
      </main>
    </div>

    <script>
      const $ = e => document.getElementById(e);
      const sub = window.location.pathname.split("~")[1];
      console.log(sub);
      fetch("/get/posts/"+sub).then(res=>res.json())
        .then(res => {
        console.log(res);
          if (res) {
            $("user").innerText = res[0].by;
            $("memo").innerText = res[0].post;
            document.title = "loign | " + res[0].by;
          } else {
            document.title = "loign";
            $("user").innerText = "User does not exist!";
          }
        });
    </script>

    <script src="../link.js"></script>
    <!--     <script src="../cursor.js"></script> -->

    <!-- include the Glitch button to show what the webpage is about and
            to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
