<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <link id="favicon" rel="icon" href="../favicon.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/card.css" />
  </head>
  <body lang="en">
    <div id="main">
      <a href=".." id="back" class="hotspot">Back</a>
      <header>
        <h1 id="user" style="margin-bottom:0;"></h1>
        <span class="italic" id="joined"></span>
      </header>
      <main>
        <p id="memo"></p>
        <hr />
        <div id="posts"></div>
      </main>
    </div>
    <script src="lib/client.js"></script>
    <script src="lib/link.js"></script>
<!--     <script src="lib/cursor.js"></script> -->
    <script src="js/user.js"></script>
  </body>
</html>
