<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <link id="favicon" rel="icon" href="../favicon.ico" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/card.css" />
  </head>
  <body class="mainform">
    <div id="main">
      <a href=".." id="back" class="hotspot">Back</a>
      <header>
        <h1 id="user" style="margin-bottom:0;"></h1>
        <span class="italic" id="joined"></span>
      </header>
      <main>
        <p id="memo"></p>
        <hr />
        <div id="posts"></div>
      </main>
    </div>
    <script src="js/client.js"></script>
    <script src="js/link.js"></script>
    <script>
      const user = window.location.pathname.split("@")[1];
      fetch("/get/users/" + user)
        .then(e => e.json())
        .then(res => {
          if (res.joined) {
            $("user").innerText = res.user;
            $("memo").innerText = res.status;
            $("joined").innerText = "Joined " + timeSince(res.joined);
            document.title = "loign | " + res.user;
          } else {
            document.title = "loign";
            $("user").innerText = "User does not exist!";
          }
        });
      fetch("/get/posts?user="+user)
        .then(res => res.json())
        .then(res => {
          createPosts(res, $("posts"));
        });
      if (sessionStorage.getItem("viewdoc") == "false") {
        $("back").style.display = "none";
      }
      sessionStorage.setItem("viewdoc", false);
    </script>
    <!--         <script src="../cursor.js"></script> -->
  </body>
</html>
