<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <link
      id="favicon"
      rel="icon"
      href="https://drive.google.com/uc?id=1a2JLNm5F9rHG2JrelkLg2R-QoMT2DkPY"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/cards.css" />
  </head>
  <body class="mainform">
    <div id="main">
      <a href=".." id="back" class="hotspot">Back</a>
      <header>
        <h1 id="user" style="margin-bottom:0;"></h1>
        <span class="italic" id="joined"></span>
      </header>
      <main>
        <p id="memo"></p>
      </main>
    </div>
    <script src="h.js"></script>

    <script>
      const user = window.location.pathname.split("@")[1];
      fetch("/get/users/" + user)
        .then(e => e.json())
        .then(res => {
          if (res.joined) {
            $("user").innerText = res.user;
            $("memo").innerText = res.status;
            $("joined").innerText = "Joined " + timeSince(res.joined);
            document.title = "loign | " + res.user;
          } else {
            document.title = "loign";
            $("user").innerText = "User does not exist!";
          }
        });
      if (sessionStorage.getItem("viewdoc") == "false") {
        $("back").style.display = "none";
      }
      sessionStorage.setItem("viewdoc", false);
    </script>

    <script src="../link.js"></script>
    <!--         <script src="../cursor.js"></script> -->

    <!-- include the Glitch button to show what the webpage is about and
            to make it easier for folks to view source and remix -->
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
    <script src="https://button.glitch.me/button.js"></script>
  </body>
</html>
