/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  overflow-x:hidden;
  background-image: linear-gradient(135deg, var(--accent1) 0%, var(--accent2) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  padding: 15px;
  background-color: var(--background);
  box-shadow: 2px 2px 15px gray;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}


button {
  font-size: 1em;
  border: solid var(--accent2) 2px;
  border-radius: 3px;
  background-color: var(--background);
  cursor: pointer;
  color:var(--note);
  transition: all 0.2s;
}

button:hover {
  background-color: var(--accent2);
  color:var(--background);
}

li {
  margin-bottom: 5px;
}

footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid var(--note);
}

a {
  background-image: linear-gradient(to right, var(--accent2) 0%, var(--accent2) 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 2px 0;
  padding:0.2em;
  margin-left:-0.2em;
  color: var(--accent2);
  text-decoration: none;
  transition: all 0.2s;
}

a:hover {
  background-size: 2px 100%;
  color: var(--background);
}

hr {
  border: solid darkgray 1px;
}

#error {
  color: red;
}

#warnbtn {
  border-color:red;
  color:red;
}

#warnbtn:hover {
  background-color:red;
  color:var(--background);
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 240px;
  height: 100%;
  padding: 1em;
  border: solid var(--note) 1px;
  border-radius:2px;
}

.edit form {
  box-shadow: none;
}

#main {
  min-height: 100vh;
  background: var(--background);
  max-width: 80vw;
  margin: auto;
  padding: 1em;
  box-shadow: 0 0 5px gray;
}

#settings {
  width:100%;
}

.anonprefs {
  padding: 1em;
  justify-content: space-between;
  width:100%;
}

.userprefs {
  padding: 1em;
  justify-content: space-between;
  width:100%;
}

.italic {
  color:var(--note);
  font-style:italic;
}

.empty {
  display:none;
}
