<div class="card">
  <div class="side">
    <input type="checkbox" ? id="up-?" class="up">
    <input type="checkbox" ? id="down-?" class="down">
    <label onclick="upvote(?,this);" for="up-?">+</label><br />
    <div class="val">?</div>
    <label onclick="downvote(?,this);" for="down-?">-</label><br />
  </div>
  <div class="main" onclick="goto('/-?');">
    <a href="javascript:goto('/@?');"><span class="by">@?</span></a>
    <h2 class="title nomargin">?</h2>
    <span class="date italic">Posted ?</span>
    <p class="post">?</p>
    <a href="javascript:goto('/~?');">?</a>
  </div>
</div>
